.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 50%;
}

.landing {
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredContent {
  text-align: center;
}

.logoSvg {
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}
